<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IJobService" />
        <binding name="BasicHttpBinding_ICalculatorService" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService11" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcp" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000">
          <readerQuotas maxDepth="500" maxStringContentLength="50000000"
            maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000" />
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IService1" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/21_WCF_Assignment_01/JobService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJobService"
        contract="ServiceReference1.IJobService" name="BasicHttpBinding_IJobService" />
      <endpoint address="http://localhost/21_WCF_Assignment_01/CalculatorService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculatorService"
        contract="CalculatorReference.ICalculatorService" name="BasicHttpBinding_ICalculatorService" />
      <endpoint address="http://localhost:8733/GreetServiceHost/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService11" contract="ServiceReference2.IService1"
        name="BasicHttpBinding_IService1" />
      <endpoint address="net.tcp://localhost:8080/GreetServiceHost/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService1"
        contract="ServiceReference2.IService1" name="NetTcpBinding_IService1">
        <identity>
          <userPrincipalName value="mnajib@ahm.corp" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="_21_WCF_Assignment_01.Service1" behaviorConfiguration="myServiceBehave">
        <endpoint address="Service1" binding="basicHttpBinding" contract="_21_WCF_Assignment_01.IService1"></endpoint>
        <endpoint address="Service1" binding="netTcpBinding" bindingConfiguration="netTcp" contract="_21_WCF_Assignment_01.IService1"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:25586/"  />
            <add baseAddress="net.tcp://localhost:8081/" />
          </baseAddresses>
        </host>
      </service>
      <service name="_21_WCF_Assignment_01.CalculatorService" behaviorConfiguration="">
        <endpoint address="" binding="basicHttpBinding" contract="_21_WCF_Assignment_01.ICalculatorService"></endpoint>
        <endpoint address="mex1" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
      <behavior name="myServiceBehave">
        <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:25586/Service1.svc/mex" />
      </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
