<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcp" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000">
          <readerQuotas maxDepth="500" maxStringContentLength="50000000" maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000" />
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="_21_WCF_Assignment_01.Service1" behaviorConfiguration="">
        <endpoint name="http" address="" binding="basicHttpBinding" contract="_21_WCF_Assignment_01.IService1"></endpoint>
        <endpoint name="tcp" address="" binding="netTcpBinding" bindingConfiguration="netTcp" contract="_21_WCF_Assignment_01.IService1"></endpoint>
        <endpoint address="mex1" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <endpoint address="mex2" binding="mexTcpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/21_WCF_Assignment_01/"  />
            <add baseAddress="net.tcp://localhost:8081/" />
          </baseAddresses>
        </host>
      </service>
      <service name="_21_WCF_Assignment_01.CalculatorService" behaviorConfiguration="">
        <endpoint address="" binding="basicHttpBinding" contract="_21_WCF_Assignment_01.ICalculatorService"></endpoint>
        <endpoint address="mex1" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
